:root {
    --max-content-width: 1280px;
}

@view-transition {
  navigation: auto;
}

html {
    scroll-behavior: smooth;
}

::selection {
  color: white;
  background: red;
}

.content-container {
    @apply max-w-7xl mx-auto px-4 border
}


.search_bar {
    animation: show_search 0.75s both ease-out;
    animation-delay: 4.5s;
}

.content-container {
    max-width: var(--max-content-width);
    margin-inline: auto;
}

.logo-text, h1, h2, h3, h4, h5, h6 {
/*    font-family: "Moirai One", system-ui;
    font-weight: 400;
    font-style: normal;
*/

    font-family: "DM Serif Text", serif;
    font-weight: 900;
    font-style: normal;
}

.logo-animate {
    animation: flicker 5s both ease-in alternate infinite;
}

.animate-fade-in-down {
    animation: fade-in-down .5s ease-out forwards;
}

.show-searchbar {
    grid-template-rows: 1fr;
}

@keyframes fade-in-down {
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flicker {
    from {
        opacity: 0.35;
        transform: scale(1);
    }

    to {
        opacity: 0.6;
        transform: scale(1.05);
    }
}

@keyframes show_search {
    from {
        opacity: 0;
        transform: translateY(-30%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}