{% extends "_base.html" %}

{% block title %}
{{Title}}
{% endblock %}

{% block content %}

<div class="grid grid-cols-[1fr,2fr] py-10 max-w-7xl mx-auto px-4 gap-8">
    <div>
        <figure class="relative sticky top-16">
            <picture>
                <img src="{{Poster}}" class="relative w-full object-cover object-center block"
                     alt="Poster of {{Title}}">
            </picture>
        </figure>
    </div>
    <div>
        <h1 class="text-4xl mb-6">Keep your movie pick safe</h1>
        <form class="max-w-5xl mx-auto w-full sticky top-20" method="post" name="movie_form">
            {{ form.hidden_tag() }}
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ form.name.label }}
                    </span>
                    {{ form.name(value=Title, type="text", class="bg-gray-50 border border-gray-300 text-gray-900
                    text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5
                    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                    dark:focus:ring-primary-500 dark:focus:border-primary-500") }}
                </div>
                <div>
                    <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ form.poster.label }}
                    </span>
                    {{ form.poster(value=Poster, type="text", class="bg-gray-50 border border-gray-300 text-gray-900
                    text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5
                    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                    dark:focus:ring-primary-500 dark:focus:border-primary-500") }}
                </div>
                <div>
                    <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Movie {{ form.watch_date.label }}
                    </span>
                    {{ form.watch_date(class="bg-gray-50 border border-gray-300 text-gray-900
                    text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5
                    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                    dark:focus:ring-primary-500 dark:focus:border-primary-500") }}
                </div>
                <div>
                    <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Movie {{ form.watch_time.label }}
                    </span>
                    {{ form.watch_time(value="20:00", class="bg-gray-50 border leading-none
                    border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500
                    focus:border-primary-500 block
                    w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                    dark:focus:ring-primary-500 dark:focus:border-primary-500") }}
                </div>
                <div class="col-span-2">
                    <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ form.plot.label }}
                    </span>
                    {{ form.plot(rows="4", value=Plot, class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50
                    rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
                    dark:focus:border-primary-500") }}
                </div>
                <button
                        type="submit"
                        class="mt-4 text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
                >
                    Add to my Movies
                </button>
            </div>
        </form>
        <pre id="movie_data" class="hidden">
            <code>
                {{movie|tojson}}
            </code>
        </pre>
    </div>
</div>

{% endblock %}