{% extends "_base.html" %}
{% block title %} Home {% endblock %}
<p>
    Welcome to Movie Favorites!

    Discover, save, and share your favorite movies with ease. Whether you're a casual viewer or a film fanatic, our app
    offers the perfect platform to keep track of all the movies you love.

    Explore: Dive into our extensive database of films, from timeless classics to the latest blockbusters.

    Curate: Create personalized lists of your top picks and never lose track of a must-watch movie again.

    Share: Show off your impeccable taste by sharing your favorite lists with friends and fellow movie lovers.

    Join our community today and let Movie Favorites be your ultimate movie companion!
</p>