{% extends "_base_auth.html" %}

{% block content %}
<div class="h-screen w-screen flex items-center justify-center">
    <div class="text-center">
        <h1 class="text-4xl">Firefox does not support the speculation rules API </h1>
        <p class="mt-4">Please use a Chromium based Browser instead.</p>
        <p class="mt-4">
            <a class="text-blue-400 underline" href="https://developer.mozilla.org/en-US/docs/Web/API/Speculation_Rules_API">Speculation Rules API</a>
        </p>
    </div>
</div>
{% endblock %}