{% extends "_base.html" %}

{% block css_imports %}
<link rel="stylesheet" href="/api/v1/docs/swagger-ui.css">
<link rel="stylesheet" href="/api/v1/docs/index.css">
{% endblock %}

{% block content %}
<!-- Swagger UI -->
<div class="bg-white">
    <div id="swagger-ui"></div>
</div>
{% endblock %}
{% block js_imports %}
<script src="/api/v1/docs/swagger-ui-bundle.js"></script>
<script src="/api/v1/docs/swagger-ui-standalone-preset.js"></script>
<script>
    var config = {
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ],
      plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
      ]
    };
    var user_config = {"dom_id": "#swagger-ui", "url": "/static/swagger.json", "layout": "StandaloneLayout", "deepLinking": true, "oauth2RedirectUrl": "http://localhost:5002/api/v1/docs/oauth2-redirect.html"};  // User config options provided from Python code
    for (var attrname in user_config) { config[attrname] = user_config[attrname]; }

    window.onload = function () {
      // Build a system
      const ui = SwaggerUIBundle(config)



    window.ui = ui
}
</script>
{% endblock %}