{% extends "_base.html" %}

{% block title %}
Movies for {{user.firstname}} {{user.lastname}}
{% endblock %}

{% block css_imports %}
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock %}

{% block js_imports %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    const swiper_next = new Swiper('.swiper-next-movies', {
    slidesPerView: 1,
    loop: true,
    autoplay: {
        enable: true,
    },
    keyboard: {
        enable: true,
    },

    pagination: {
        clickable: true,
        el: '.swiper-pagination',
    },
});
</script>
<script>
    const swiper_best_movies = new Swiper('.swiper-best-movies', {
    slidesPerView: 1,
    breakpoints: {
        320: {
            slidesPerView: 2
        },
        640: {
            slidesPerView: 3
        },
        1200: {
            slidesPerView: 5
        }
    },

    slidesPerView: 5,
    loop: true,


    // And if we need scrollbar
    scrollbar: {
        el: '.swiper-scrollbar',
    },
});
</script>
<script defer>
    const movieCards = document.querySelectorAll(".movie-card")

    const addEntryAnimation = (entries, observer) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add("animate-fade-in-down")
                observer.unobserve(entry.target)
            }
        })
    }

    const observer = new IntersectionObserver(addEntryAnimation, {
        root: null,
        rootMargin: "0px",
        threshold: 0.3
    });

    movieCards.forEach(movieCard => { observer.observe(movieCard); })

</script>
{% endblock %}

{% block hero %}
<section class="relative">
    <div class="h-[calc(100vh_-_4rem)] bg-red-400 relative">
        <div class="absolute top-4 left-4 z-10">
            <p class="px-2 py-1 shadow rounded bg-neutral-900/60 backdrop-blur backdrop-saturate-150">Upcoming
                movies</p>
        </div>
        <div class="swiper swiper-next-movies h-full">
            <div class="swiper-wrapper z-20 relative">
                {% for movie in movies_sorted_upcoming %}
                <div class="swiper-slide">
                    {% include "components/movie_card_hero.html" with context %}
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="absolute z-[5] inset-x-0 bottom-0 bg-gradient-to-t from-neutral-900 to-neutral-900/0 h-1/2 pointer-events-none"></div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<section class="pt-6 relative z-10 bg-neutral-900 text-white">
    <h1 class="text-3xl font-bold text-center px-6 pb-2 mb-6 border-b-4 border-b-primary-400 w-fit mx-auto">
        Highest rated movies
    </h1>

    <!-- Horizontal slider -->
    <div class="swiper swiper-best-movies">
        <div class="swiper-wrapper py-6">
            {% for movie in movies_sorted_rating %}
            <div class="swiper-slide px-2">
                {% set index = loop.index0 %}
                {% include "components/movie_card.html" with context %}
            </div>
            {% endfor %}
        </div>

        <div class="swiper-scrollbar"></div>
    </div>
</section>
<section class="pt-6 relative z-10 bg-neutral-900 text-white">
    <h1 data-tooltip-target="tooltip-default" data-tooltip-placement="bottom" class="text-3xl font-bold text-center px-6 pb-2 mb-6 border-b-4 border-b-primary-400 w-fit mx-auto">
        Recommendations
        <!-- Recommendations by AI based on your saved movies. -->
    </h1>
    <div id="tooltip-default" role="tooltip"
         class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Recommendations by AI based on your saved movies
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    <p class="text-center mb-8 "></p>

    <div class="mx-auto max-w-7xl grid grid-cols-3 gap-x-4">
        {% for movie in movies_sorted_rating %}
        <div>
            {% set index = loop.index0 %}
            {% include "components/movie_card_recommendation.html" with context %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}