<a href="/movie/{{movie.id}}"
   class="relative hover:scale-105 overflow-hidden isolate block p-6 bg-white border border-gray-200 rounded-lg shadow-lg transition duration-300 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="isolate after:z-10 after:absolute after:inset-0 after:bg-gradient-to-t after:from-black/100 after:to-transparent absolute inset-0 -z-[1]">
        <img style="view-transition-name: movie-image-{{movie.id}}" src="{{movie.poster}}" alt="{{movie.title}}"
             class="inset-0 absolute w-full h-full block object-center object-cover"/>
    </div>
    <div class="relative aspect-[9/15] flex flex-col justify-between">
        <div class="">
            {% for genre in movie.genre.split(", ") %}
            <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">
                {{genre.strip()}}
            </span>
            {% endfor %}
        </div>
        <div class="text-gray-100 dark:text-gray-400">
            <div class="flex items-center mb-2">
                {% set stars = (movie.rating // 2) | round | int %}
                {% for star in range(stars) %}
                <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                {% endfor %}

                {% for no_star in range(5-stars) %}
                <svg class="w-4 h-4 mr-1 text-gray-300 dark:text-gray-500" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                {% endfor %}

                <span class="text-xs block">({{movie.rating}} / 10)</span>

            </div>
            <h5 class="mb-1 text-2xl font-bold tracking-tight">
                {{movie.name}}
            </h5>
            <p class="line-clamp-2 mb-2 text-xs opacity-70">
                {{movie.actors}}
            </p>
            <p class="font-normal line-clamp-2 text-sm mb-2">
                {{movie.plot}}
            </p>
        </div>
    </div>
</a>
