<div id="search_main" class="absolute inset-0 flex flex-col items-center justify-center pointer-events-none">

    <!-- search_bar -->
    <form class="relative pointer-events-auto max-w-md mx-auto w-full rounded-full bg-blue-500/20 shadow backdrop-blur backdrop-saturate p-1">
        <label for="default-search"
               class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-4 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search"
                   id="default-search"
                   class="rounded-full block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 bg-white/80 focus:ring-neutral-500/40 focus:border-neutral-500/40 dark:bg-gray-700/80 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-neutral-500/40 dark:focus:border-neutral-500/40"
                   placeholder="Search Movies..." required/>
            <button type="submit"
                    class="text-white absolute end-2.5 bottom-2.5 bg-primary-700/80 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-4 mr-1 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Search
            </button>
        </div>

    </form>

    <div id="search_results" class="max-w-md mx-auto w-full mt-4 grid grid-rows-[0fr] transition-[grid-template-rows] duration-300">
        <div class="overflow-hidden">
            <div
                    class="bg-blue-500/20 rounded-xl shadow backdrop-blur backdrop-saturate p-1">
                <div class="search-content-container bg-white/80 p-2 rounded-lg">
                    <p class="text-center text-xs uppercase tracking-widest font-bold text-neutral-700">Type to
                        search</p>
                </div>
            </div>
        </div>
    </div>
</div>
